.dialog-content-container{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
}

.name-container{
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
}

.room-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.room-container hr {
    height: 80px;
}
.room-create-container, .room-join-container{
    flex: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .room-container {
        flex-direction: column;
    }
    .room-container hr {
        height: 1px;
        width: 100%;
    }
    .dialog-content-container {
        min-width: unset;
    }
}
