.playground-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.word-row {
  display: flex;
  gap: 0.5rem;
}
.word-letter {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 8px;
}
.correct {
  background-color: green;
}
.close {
  background-color: yellow;
}
.incorrect {
  background-color: grey;
}
