.keyboard-main-container{
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.row{
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .keyboard-main-container .MuiButton-outlined {
        min-width: 30px !important;
        width: 32px;
    }
}

@media screen and (max-width: 420px) {
    .keyboard-main-container .MuiButton-outlined {
        width: 28px;
        min-width: 24px !important;
        padding: 4px 2px;
        font-size: 0.75rem;
    }
    .row {
        gap: 0.2rem;
    }
}

@media screen and (max-width: 380px) {
    .keyboard-main-container .MuiButton-outlined {
        width: 24px;
        min-width: 20px !important;
        padding: 4px 0px;
        font-size: 0.7rem;
    }
    .row {
        gap: 0.15rem;
    }
}